<h1>What's Happening Today:</h1>

<div class="card text-center">
  <div class="card-header">
    {{#each eventName}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{#each location}}</h5>
    <p class="card-text">{{#each details}}</p>
    <a href="#" class="btn btn-primary">Join Event</a>
  </div>
  <div class="card-footer text-muted">
    ICON Placeholder
  </div>
</div>