<h1>What's Happening Today:</h1>

{{#each events}}
{{#dataValues}}
<div class="card text-center event-container">
  <div class="card-header">
    {{eventName}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{location}}</h5>
    <p class="card-text">{{details}}</p>
    <a href="#" class="btn btn-primary">Join Event</a>
    <a href="#" class="btn btn-primary">Update Event</a>

  </div>
  <div class="card-footer text-muted">
    ICON Placeholder
  </div>
</div>

{{!-- check this, and add the columns from the event model --}}
{{/dataValues}}
{{/each}}