<div>
  <h1 class="whatsToday">What's Happening Today:</h1>
</div>

{{#each events}}
{{#dataValues}}
<div class="card text-center event-container">
  <div class="card-header">
    {{eventName}}
  </div>
  <div class="card-body" data-id={{id}}>
    <h5 class="card-title">{{location}}</h5>
    <p class="card-text">{{details}}</p>
    <a href="#" class="btn btn-primary">Join Event</a>
    <a href="#" id="updateButton" class="btn btn-primary">Update Event</a>
    {{!-- if the values are true, we'll add an icon; we'll have to create this in HTML routes, when we read in the data from the database, we'll have to read these extra fields BUT we might want to deal w the update first-- would read the values that already exist, we'd update, then save-- a get and then a put request-- USE THE BLOG FOR THIS --}}
  </div>
  <div class="card-footer text-muted">
    ICON Placeholder
  </div>
</div>

{{!-- check this, and add the columns from the event model --}}
{{/dataValues}}
{{/each}}