<h1>Create an Event</h1>

{{#each events}}
{{#dataValues}}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <form id="createEvent" data-value= {{this.id}}>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="input-event-name">Event Name</label>
                    <input type="input-event-name" class="form-control" id="event-name" value= {{this.eventName}} >
                </div>
                <div class="form-group col-md-6">
                    <label for="input-location">Location</label>
                    <input type="input-location" class="form-control" id="location">
                </div>
            </div>
            <div class="form-group">
                <label for="details">Details</label>
                <input type="details" class="form-control" id="details" value= {{this.details}}>
            </div>
            <div class="form-group">
                <label for="details">Who's Coming</label>
                <input type="participants" class="form-control" id="participants">
            </div>
            <div class="form-group col-md-4">
                <label for="inputCategory">Event Category</label>
                <select id="inputCategory" class="form-control">
                    <option selected>Choose Event Category...</option>
                    <option>...</option>
                </select>
            </div>
    </div>
    <button type="submit" class="btn btn-primary updateButton">Update Event</button>
    </form>
</div>
</div>

{{/dataValues}}
{{/each}}