form.signup,
form.login {
  margin-top: 50px;
}

nav {
  font-size: 1.5em;
}

body {
  background-color: #29becc;
}

.navbar-brand {
  position: relative;
  width: 50%;
  left: 15px;
  background-size: contain;
}

.pageTitle {
  text-align: center;
}

.jumbotron {
  margin: 20px;
}

/* colors: 
dark teal #128b96
light teal #adf8ff

*/